{
  "openapi": "3.0.3",
  "info": {
    "title": "ContactsManagementAPI",
    "description": "API for creating, retrieving, updating, deleting, and searching contacts with phone numbers and addresses.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://support.contacts.company.com",
      "email": "support@example.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.contacts.company.com/v1",
      "description": "Production server for the Contacts API."
    },
    {
      "url": "https://staging-api.contacts.company.com/v1",
      "description": "Staging server for testing the Contacts API."
    }
  ],
  "paths": {
    "/contacts": {
      "get": {
        "summary": "Get all contacts",
        "description": "Retrieves a paginated list of contacts. Results can be filtered by a search term that matches contact fields such as name or email address.",
        "operationId": "getContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the contacts result set to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of contacts to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term used to filter contacts by name, email address, phone number, or address.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of contacts was returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create a new contact",
        "description": "Creates a new contact using the provided name, email address, phone numbers, and optional address information.",
        "operationId": "createContact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "description": "Contact information to use when creating the new contact.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The contact was created successfully and the created contact is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "summary": "Get a contact by ID",
        "description": "Retrieves a single contact by its unique identifier.",
        "operationId": "getContactById",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested contact was found and returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "description": "Updates an existing contact by replacing its editable fields with the provided contact information.",
        "operationId": "updateContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          }
        ],
        "requestBody": {
          "description": "Updated contact information to apply to the existing contact.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contact was updated successfully and the updated contact is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete a contact",
        "description": "Deletes an existing contact by its unique identifier.",
        "operationId": "deleteContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          }
        ],
        "responses": {
          "204": {
            "description": "The contact was deleted successfully. No response body is returned."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "minLength": 36,
            "maxLength": 36
          },
          "name": "contactId",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the contact."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "minLength": 36,
            "maxLength": 36,
            "description": "Unique identifier of the contact.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Contact's first name.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Contact's last name.",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 3,
            "maxLength": 100,
            "description": "Contact's email address.",
            "example": "john.doe@example.com"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "Phone numbers associated with the contact."
          },
          "homeAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "workAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "minLength": 20,
            "maxLength": 35,
            "description": "Date and time when the contact was created.",
            "example": "2023-01-15T10:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "minLength": 20,
            "maxLength": 35,
            "description": "Date and time when the contact was last updated.",
            "example": "2023-01-20T14:45:00Z"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Contact's first name.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Contact's last name.",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 3,
            "maxLength": 100,
            "description": "Contact's email address.",
            "example": "john.doe@example.com"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumberInput"
            },
            "description": "Phone numbers to associate with the contact."
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressInput"
          },
          "workAddress": {
            "$ref": "#/components/schemas/AddressInput"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "required": [
          "number",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "minLength": 36,
            "maxLength": 36,
            "description": "Unique identifier of the phone number."
          },
          "number": {
            "type": "string",
            "minLength": 2,
            "maxLength": 16,
            "pattern": "^\\+?[1-9]\\d{1,14}$",
            "description": "Phone number in E.164-compatible format.",
            "example": "+1234567890"
          },
          "type": {
            "type": "string",
            "enum": [
              "MOBILE",
              "HOME",
              "WORK",
              "OTHER"
            ],
            "description": "Category of the phone number.",
            "example": "MOBILE"
          },
          "isPrimary": {
            "type": "boolean",
            "default": false,
            "description": "Indicates whether this is the primary phone number for the contact."
          }
        }
      },
      "PhoneNumberInput": {
        "type": "object",
        "required": [
          "number",
          "type"
        ],
        "properties": {
          "number": {
            "type": "string",
            "minLength": 2,
            "maxLength": 16,
            "pattern": "^\\+?[1-9]\\d{1,14}$",
            "description": "Phone number in E.164-compatible format.",
            "example": "+1234567890"
          },
          "type": {
            "type": "string",
            "enum": [
              "MOBILE",
              "HOME",
              "WORK",
              "OTHER"
            ],
            "description": "Category of the phone number.",
            "example": "MOBILE"
          },
          "isPrimary": {
            "type": "boolean",
            "default": false,
            "description": "Indicates whether this is the primary phone number for the contact."
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "minLength": 36,
            "maxLength": 36,
            "description": "Unique identifier of the address."
          },
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Street address including house or building number.",
            "example": "123 Main Street"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "City or locality for the address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "State, province, or region for the address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Postal or ZIP code for the address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 50,
            "description": "Country for the address.",
            "example": "United States"
          }
        }
      },
      "AddressInput": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Street address including house or building number.",
            "example": "123 Main Street"
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "City or locality for the address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "State, province, or region for the address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "description": "Postal or ZIP code for the address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 50,
            "description": "Country for the address.",
            "example": "United States"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Maximum number of records returned per page."
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000000,
            "description": "Total number of contacts matching the request."
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000000,
            "description": "Total number of pages available."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "description": "Machine-readable error code."
              },
              "message": {
                "type": "string",
                "minLength": 1,
                "maxLength": 500,
                "description": "Human-readable error message."
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "ContactId": {
        "name": "contactId",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the contact.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "minLength": 36,
          "maxLength": 36
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is malformed or contains invalid parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested contact could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "The request body failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An unexpected server error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Contacts",
      "description": "Operations for managing contacts, phone numbers, and addresses."
    }
  ]
}